<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div name="header">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Главная страница</a>
            <div class="navbar navbar-expand-sm bg-ligh">
                <a class="nav-item nav-link active" href="info.html">О системе<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="calculations.html">Получение рекомендаций</a>
                <a class="nav-item nav-link" href="authors.html">Контактная информация</a>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-9">
            <h1>
                О системе
            </h1>
            <p class="text-break">
                Целью сайта является предоставление рекомендаций по увеличению прибыли на установленное значение путём решения обратной задачи формирования прибыли.
            </p>
            <h2>
                На этом сайте Вы можете:
            </h2>
            <ul class="list-group">
                <li class="list-group-item">Увидеть оформленную информацию по продажам</li>
                <li class="list-group-item">Получить рекомендации по цене, количеству и себестоимости продаваемого товара на основе решения обратной задачи</li>
            </ul>

            <h5>
                Вы можете воспользоваться этими возможностями уже сейчас, загрузив файл с отчётом о продажах в форме ниже.
            </h5>
        </div>
    </div>
    <div class="row" name="forms">
        <div class="col-9">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div class="form-group" >
                    <label for="exampleFormControlFile1">Выберите файл со своего компьютера</label>
                    <input name="file" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <button type="submit" class="btn btn-primary" >Загрузить</button>
            </form>
            <p>
                После загрузки файла Вы увидите страницу с данными, полученными из него.
            </p>
        </div>
    </div>

</div>
</body>
</html>
